
<sly>
<div class="slides" >
    <p>${item.title}</p>
    <img src="${item.image}">
    <a href="${item.link}">CTA</a>
</div>
</sly>
<sly>
    <div class="header">
        <img src="${item.image}" class="logo">
        <div class="header-right">
            <a class="active" href="#motorcycle">MotorCycle</a>
            <a href="#locateus">LocateUs</a>
            <a href="#riders">Riders</a>
            <a href="#accessories">Accessories</a>
            <a href="#apparel">Apparel</a>
            <a href="#ourworld">Our World</a>
            <a href="#support">Support</a>
        </div>
    </div>
</sly>

